body {
  margin: 0;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

.screen {
  text-align: center;
}

.hidden {
  display: none;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #ff4e88;
  color: white;
  cursor: pointer;
}
